.Singerdex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Singerdex-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Singerdex-winner {
    color: green;
}

.Singerdex-loser {
    color: red;
}

